{% extends 'base.html' %}

{% block title %}
Про проект
{% endblock %}

{% block body %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Склад гурту</h1>
      </div>
    </div>
  </section>

<div class="album py-5 bg-dark">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" src="../static/imgs/dustin.jpg" width="100%" height="225" aria-label="Dustin" focusable="false">
            <div class="card-body">
                <h5 class="text-center">Дастін Бейтс (Dustin Bates)</h5><br><p class="text-center fs-4">Вокал</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" src="../static/imgs/ron.jpg" width="100%" height="225" aria-label="Dustin" focusable="false">
            <div class="card-body">
                <h5 class="text-center">Рон ДеЧант (Ron DeChant)</h5><br><p class="text-center fs-4">Бас-гітара, бек-вокал</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" src="../static/imgs/brock.jpg" width="100%" height="225" aria-label="Dustin" focusable="false">
            <div class="card-body">
                <h5 class="text-center">Брок Річардс (Brock Richards)</h5><br><p class="text-center fs-4">Гітара, бек-вокал</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" src="../static/imgs/adam.jpg" width="100%" height="225" aria-label="Dustin" focusable="false">
            <div class="card-body">
                <h5 class="text-center">Адам Гілберт (Adam Gilbert)</h5><br><p class="text-center fs-4">Ударні</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" src="../static/imgs/cronin.jpg" width="100%" height="225" aria-label="Dustin" focusable="false">
            <div class="card-body">
                <h5 class="text-center">Шиван Кронін (Siobhan Cronin)</h5><br><p class="text-center fs-4">Скрипка</p>
            </div>
          </div>
        </div>

         <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" src="../static/imgs/zuzana.jpg" width="100%" height="225" aria-label="Dustin" focusable="false">
            <div class="card-body">
                <h5 class="text-center">С'юзанна Єнгерерова (Zuzana Engererova)</h5><br><p class="text-center fs-4">Віолончель</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

<div class="bg-dark w-100 pb-2 text-light">
    <h2 class="text-center">Мета проекту</h2>
    <div class="container p-3 text-center w-25">
        Метою створення цієї веб-сторінки є розповсюдження інформації про цей недооцінений та не дуже популярний гурт в Україні. Тому на цьому сайті ви може ознайомитися з ним а також дізнатися про історію гурту та їх альбоми
    </div>
</div>
{% endblock %}