{% extends 'base.html' %}

{% block title %}
Історія гурту
{% endblock %}

{% block body %}
<div class="bg-dark">
    <div>
        <h1 class="text-center text-white p-2">Група Starset</h1>
        <div class="container marketing bg-light rounded">

            <div class="row featurette pt-3">
                <div class="col-md-7  order-md-2 d-flex align-items-center">
                    <div>
                        <span class="featurette-heading text-muted h2">STARSET</span>
                        <span class="lead"> - група зі штату Огайо, сформована вокалістом Дастіном Бейтсом. Бейтс прославився у музичних колах «аудіо-алхіміком» і окреслив місію свого космічного шатлу – борозенити простори онлайн-світу, вплітаючи у відеопрезентації пісень картини доповненої реальності та героїв Marvel. Чудернацькеий стиль розповіді, збалансований мікс вигадки та наукових фактів – унікальна концепція іммерсивного шоу гурту STARSET</span>
                    </div>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="../static/imgs/about1.jpg" alt="photo" width="500px" ; height="400px" class="rounded col-12 col-md-12">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 d-flex align-items-center">
                    <div>
                        <span class="featurette-heading text-muted h2">Стиль команди<br></span>
                        <span class="lead">Основа мизуки цього гурту є крута суміш альтернативного, електронного та симфонічного року. Цю музику називають позаземною. А ексклюзивні перфоманси візуально магічні. Вже зі своїм дебютним альбомом Transmissions музиканти стали надпопулярними. Сингл My Demons закріпився у рок-чартах на рекордні 43 тижні. Було продано понад півмільйона копій Transmissions, а також другої платівки Vessels. Число стрімів у світі перевищило 100 мільйонів. А на YouTube накопичилося понад 1,4 мільярди переглядів!</span>
                    </div>
                </div>
                <div class="col-md-5">
                    <img src="../static/imgs/about2.jpg" alt="photo" width="500px" ; height="400px" class="rounded col-12 col-md-12">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette pb-3">
                <div class="col-md-7 order-md-2 d-flex align-items-center">
                    <div>
                        <span class="featurette-heading text-muted h2">Тематика<br></span>
                        <span class="lead">Тема космосу та технологій обрана групою не випадково: Бейтс цікавиться астрономією і навіть викладав у Міжнародному космічному університеті. Мета гурту – популяризувати науку через свої пісні. І здається, у них це виходить! Концерти STRASET - це потужний заряд енергії, від якого злітають у космос ракети, а в нічному небі запалюються нові зірки! Захоплює не лише незвичайна музика, а й усе довкола: круті спецефекти та потужний звук, світлові трюки та яскраві, космічні образи виконавців</span>
                    </div>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="../static/imgs/about3.jpg" alt="photo" width="500px" ; height="400px" class="rounded col-12 col-md-12">
                </div>
            </div>

        </div>
    </div>
    <div class="bg-dark" style="height: 40px"></div>
</div>
{% endblock %}