{% extends 'base.html' %}

{% block title %}
Головна
{% endblock %}

{% block body %}
<main class="px-3 text-center text-white bg-dark d-flex align-items-center justify-content-center flex-column" style="width: 100%; height: calc(100vh - 143.91px);">
    <h1>STARSET</h1>
    <p class="lead" style="width: 70vh">Ну думаю, що ви коли небудь чули цю назву. Або не знали, що вона асоціюється з цим доволі непоганим рок-гуртом. На цій веб-сторінці я розповім вам про історію цього гурту а також покажу усі їх на даний момент альбоми</p>
    <p class="lead">
      <a href="/history" class="btn btn-lg btn-secondary fw-bold border-white bg-white text-dark">Отож хто вони такі?</a>
    </p>
</main>
{% endblock %}